body {
    margin: 0; /*Shorthand properties*/
    font-family: 'Nunito', sans-serif;
}

a {
    color: #0075b4;
}

header {
    background-color: #0075b4;
    color: white;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 24px;
    letter-spacing: 0.6px;
    line-height: 30px; /*Distancia entre as linhas*/
}

article {
    max-width: 850px;
    margin: auto;
    padding: 8px;
    padding-top: 70px;
}

.post-author {
    color: #6C6C6C;
    font-size: 12px;
    line-height: 18px;
}

.share-post, 
.links-title {
    font-size: 12px;
    font-weight: 600;
    line-height: 22px;
}

.share-post span {
    margin-right: 4px;
}

.share-post img {
    vertical-align: middle;
}

.links-title {
    margin-bottom: 12px;
}

.uppercase {
    text-transform: uppercase;
}

.hero-image {
    margin: 50px 0;
}
.hero-image img {
    max-width: 100%;
}

h1 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 52px;
    letter-spacing: 1.3px;
    line-height: 58px
}

article p {
    font-size: 16px;
    line-height: 24px;
}

#content-section {
    max-width: 680px;
    margin: auto;
}

iframe {
    margin: 50px 0;
    width: 100vw;
    max-width: 100%;
}

footer {
    background-color: #F1F1F1;
    max-width: 680px;
    margin: auto;
    padding: 20px 15px;
    margin-bottom: 70px;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer a {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}

footer ul li {
    margin-bottom: 12px;
}

footer ul li:last-of-type { /*CSS Pseudo-classes*/
    margin-bottom: 0;
}